<div class="flex justify-between flex-col lg:items-center lg:flex-row">
  <h4 class="text-xl text-black font-bold"><%= position %></h4>
  <p class="text-gray-400 italic text-sm">
        <%= get_date_in_month_year_format(start_date) %> - <%= get_date_in_month_year_format(end_date) %>
    </p>
</div>
<h3 class="text-lg font-bold"><%= company %></h3>
<p class="mt-1 text-justify"><%= description %></p>
<% if projects.present? %>
  <p class="text-lg text-black font-bold"> Projects </p>
  <%= render partial: "shared/profile/project", title: 'Projects',  collection: projects %>
<% end %>
